@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: #a6a6a6;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  height: 230px;
}
header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
}

.product__image {
  width: 6rem;
  height: auto;
}

.t-shirt {
  stroke: #000;
  stroke-width: 2;
}


.product__colors{
  position: relative;
  top: -9rem;
  left: 8rem;
}

.color-box{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px rgb(166, 166, 166);
  display: inline-block;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}
.color-box:hover,
.color-box:active {
  box-shadow: 0px 0px 6px 3px rgb(255, 255, 255);
}


/* Barvy košil */
.white {
  background: #ede6e6;
}
.black {
  background: #171717;
}
.red {
  background-color: #831515
}
.blue {
  background-color: #609cb0;
}

/* Názvy košil */
.color__name {
  display: inline-block;
  margin-top: 8px;
}

.white-name {
  margin-left: 10px;
}
.black-name {
  margin-left: 38px;
}
.red-name {
  margin-left: 20px;
}
.blue-name1 {
  margin-left: 15px;
}
.blue-name2 {
  position: relative;
  top: 20px;
  left: -58px;
}

/* Tlačítko pro objednání */
.order {
  background: none;
  border: 2px solid #a6a6a6;
  color: #a6a6a6;
  border-radius: 30px;
  padding: 12px 55px;
  font-size: 20px;
  position: relative;
  left: 26rem;
  bottom: 3rem;
}

.order:hover,
.order:active {
  border: 2px solid #ffffff;
  color: #ffffff;
}

/* Vybraná barva pro JS */
.vybrana {
  box-shadow: 0px 0px 6px 3px rgb(255, 255, 255)
}