@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: #a6a6a6;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}
header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
}

.product__image {
  width: 6rem;
  height: auto;
}

.t-shirt {
  stroke: #000;
  stroke-width: 2;
}

.product__colors{
  position: relative;
  top: -9rem;
  left: 8rem;
}

.color-box{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #a6a6a6;
  display: inline-block;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}

.white {
  background-color: #a6a6a6;
}
.black {
  background-color: rgb(0, 0, 0);
}
.red {
  background-color: rgb(132, 15, 15);
}
.blue {
  background-color: rgb(89, 217, 246);
}

.color__name {
  display: inline-block;
  margin-top: 2px;
}

.white-name {
  margin-left: 10px;
}
.black-name {
  margin-left: 38px;
}
.red-name {
  margin-left: 20px;
}
.blue-name {
  margin-left: 15px;
}

.order {
  background: none;
  border: 2px solid #a6a6a6;
  color: #a6a6a6;
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 20px;
  position: relative;
  left: 9rem;
  top: 1.5rem;
}

.order:hover{
  border: 2px solid #ffffff;
  color: #ffffff;
}